.btn {
	.user-select(none);
	color: @white;
	text-decoration: none;
	.font_bold;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;

	background-color: #ff3d4d;
	border-color: #881321;
	border-style: solid;
	border-width: 0 0 2px 0;
	padding: 18px 49px 14px 49px;
	.border-radius(4px);
	letter-spacing: 0.020em;
	cursor: pointer;
	.transition(background .2s);

	&:active,
	&:focus {
		color: @white;
		text-decoration: none;
	}
	&:hover {
		color: @white;
		text-decoration: none;
		background-color: #d62735;
		border-color: #881321;
	}

	&:active {
		border-width: 2px 0 0 0;
		padding: 18px-2 49px 14px+2px 49px;
	}
}

.btn_sm {
	font-size: 15px;
	line-height: 19px;
	padding: 9px 24px 8px 24px;

	&:active {
		padding: 9px-2px 24px 8px+2px 24px;
	}	
}

.btn_md {
	font-size: 15px;
	line-height: 19px;
	padding: 12px 30px 11px;

	&:active {
		padding: 12px-2px 30px 11px+2px;
	}	
}


.btn_dark {
	background-color: #d9273c;
	border-color: #881321;

	&:hover {
		background-color: #b82032;
		border-color: #881321;
	}
}

.btn_blue {
	background-color: #2762d9;
	border-color: #173a80;

	&:hover {
		background-color: #1a459c;
		border-color: #173a80;
	}
}