// 200
@font-face {
    font-family: 'clear_sans_lightregular';
    src: url('/styles/font/clearsans-light.eot');
    src: url('/styles/font/clearsans-light.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-light.woff') format('woff'),
         url('/styles/font/clearsans-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 300
@font-face {
    font-family: 'clear_sans_thinregular';
    src: url('/styles/font/clearsans-thin.eot');
    src: url('/styles/font/clearsans-thin.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-thin.woff') format('woff'),
         url('/styles/font/clearsans-thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 400
@font-face {
    font-family: 'clear_sansregular';
    src: url('/styles/font/clearsans-regular.eot');
    src: url('/styles/font/clearsans-regular.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-regular.woff') format('woff'),
         url('/styles/font/clearsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 500
@font-face {
    font-family: 'clear_sans_mediumregular';
    src: url('/styles/font/clearsans-medium.eot');
    src: url('/styles/font/clearsans-medium.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-medium.woff') format('woff'),
         url('/styles/font/clearsans-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 700
@font-face {
    font-family: 'clear_sansbold';
    src: url('/styles/font/clearsans-bold.eot');
    src: url('/styles/font/clearsans-bold.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-bold.woff') format('woff'),
         url('/styles/font/clearsans-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'clear_sansitalic';
    src: url('/styles/font/clearsans-italic.eot');
    src: url('/styles/font/clearsans-italic.eot?#iefix') format('embedded-opentype'),
         url('/styles/font/clearsans-italic.woff') format('woff'),
         url('/styles/font/clearsans-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.font_italic {
    font-family: 'clear_sansitalic';
    font-weight: normal;
    font-style: normal;
}

.font_light {
    font-family: 'clear_sans_lightregular';
    font-weight: normal;
    font-style: normal;
}

.font_thin {
    font-family: 'clear_sans_thinregular';
    font-weight: normal;
    font-style: normal;
}

.font_regular {
	font-family: 'clear_sansregular';
	font-weight: normal;
    font-style: normal;
}
.font_medium {
	font-family: 'clear_sans_mediumregular';
	font-weight: normal;
    font-style: normal;
}
.font_bold {
	font-family: 'clear_sansbold';
	font-weight: normal;
    font-style: normal;
}