//
// Scaffolding
// --------------------------------------------------


// Body reset
// -------------------------

HTML{
  height: 100%;
}
BODY{
  font-family: @sansFontFamily;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  color: @textColor;
  margin: 0;
  padding: 0;
  background: @bodyBackground;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // .transition(background-color .3s);
}


// Links
// -------------------------

a {
  color: @linkColor;
  text-decoration: none;
}
a:hover,
a:focus {
  color: @linkColorHover;
  text-decoration: underline;
}