.l__footer {
	min-width: 960px;
	font-size: 14px;
	line-height: 22px;
	color: #666;
	border-top: 1px solid #e0e0e0;

	.l__container {
		padding: 54px 310px 52px 0;
	}

		.l__h2 {
			font-size: 14px;
			line-height: 22px;
			color: @black;
			text-transform: uppercase;
			.font_bold;
		}

		strong {
			color: @black;
			.font_bold;
		}
}