@pColor: #7c848c;

.body__page-landing {
	background-color: #f2f4f6;
	label {
		float: left;
		width: 31.97%;
		margin-left: (3*(33.33%-31.97%))/2;
		position: relative;
		&:first-child {
			margin-left: 0;
		}

		&.error {
			input {
				border: 2px solid #e31837;
			}
			.error-fld {
				display: block;
			}
		}
	}

		.error-fld {
			display: none;
			position: absolute;
			z-index: 1000;
			top: 0;
			right: 0;
			font-size: 12px;
			line-height: 1.5;
			padding: 15px 14px;
			height: 100%;
			color: #e31837
		}

		input {
			.input_clear;
			background: @white;
			font-size: 16px;
			line-height: 23px;
			.font_regular;
			padding: 1px 14px 4px;
			border: 2px solid @white;
			color: @black;
			.placeholder(#aaa);
			.transition(all .2s);


			&:focus {
				border-color: #174d76;
			}

		}


	#gnc-container {
		width: 100%;
		max-width: 1920px;
		margin: 0 auto;
		background-color: @white;
		min-width: 960px;
	}

	* {
		.box-sizing(border-box);
	}
}

	.l-section {
		display: block;
		position: relative;
		overflow: hidden;
		text-align: left;
		color: @white;
		.font_regular;
		min-width: 960px;
	}
		.l__container {
			height: 100%;
			border-spacing: 0;
			border-collapse: collapse;
			.container;
		}

			.l__h1,
			.l__h2,
			.l__h3,
			.l__p {
				padding: 0;
				margin: 0;
			}

	.l__header {
		background: transparent;
		overflow: hidden;
		min-width: 960px;
		padding: 13px 0;
		position: fixed;
		left: 0;
		right: 0;
		top: -72px;
		z-index: 33;
		.box-shadow(0 1px rgba(51,51,51,.3));

		.transition(all .3s);

		.l__h3 {
			font-size: 17px;
			line-height: 1.4;
			margin-bottom: 2px;
		}

		.l__p {
			font-size: 13px;
			color: #737373;
		}
	}

		.l__logo-a {
			display: inline-block;
			margin-top: 10px;
		}
		
		.l__header-row {
			float: right;
			font-size: 0;
		}

			.l__header-col {
				text-align: right;
				display: inline-block;
				vertical-align: top;
				margin-left: 50px;
			}

	.scrolled {
		.l__header {
			background: @white;
			position: fixed;
			top: 0;
		}
	}

.l-row {
	.clearfix;
}

	.l-col1 {
		width: 400px;
		float: left;
	}

	.l-col2 {
		width: 520px;
		float: right;
	}

	.l-section1 {
		background: url(/images/bg/tf/s1.png) no-repeat center center;
		height: 530px;

		.l__container {
			margin-top: -70px;
		}

		.l__h1 {
			.font_bold;
			font-size: 45px;
			line-height: 50px;
			letter-spacing: 0.02em;
			margin: 53px 0 28px;
			span {
				font-size: 20px;
				display: inline-block;
				vertical-align: top;
				margin-top: -10px;
			}
		}

		.l__h2 {
			.font_bold;
			font-size: 25px;
			line-height: 30px;
			letter-spacing: 0.02em;
			margin: 0 -20px 8px 0;
		}


			.l-col2 {
				background: url(/images/bg/tf/boy.png) right bottom no-repeat;
				height: 530px;
				width: 600px;
				margin-left: -80px;
			}
	}

		.l-s1__header-bg {
			background: rgba(0,18,117,.3);
			height: 70px;
		}

			.l-s1__header-desc {
				font-size: 20px;
				margin: 17px -82px (70px-17px-20px*1.4) 0;
				.font_bold;
				display: block;
				margin-right: -82px;
			}

			.l-s1__desc {
				font-size: 16px;
			}


			.l-s1__logo {
				float: right;
				margin: 17px 0 32px;
			}

			.l-s1__sign {
				float: right;
				clear: both;
			}

	.l-section2 {
		overflow: visible;
		color: #676d73;

		.l-col1 {
			position: relative;
		}

		.l__h3 {

		}

	}

		.l-s2__box {
			position: absolute;
			top: -210px;
			left: -200px;
			width: 559px;
			height: 613px;
			background: url(/images/bg/tf/pachka.png);
		}

		.l-s2__price-block {
			background: url(/images/bg/tf/s2-price.png);
			height: 110px;
			margin: 100px 0 40px;
		}



			.l-s2__price-col1 {
				width: 50%;
				float: left;
				padding: 17px 40px;
			}

				.l-s2__price {
					color: @black;
					.font_bold;
					font-size: 46px;
					line-height: 1;
					display: block;
					margin-left: -4px;
					i {
						vertical-align: bottom;
						margin: 0 0 3px 7px;
					}
				}

				.l-s2__price-desc {
					font-size: 15px;
				}
		
			.l-s2__price-col2 {
				width: 50%;
				float: left;
				padding: 27px 0 0 50px;
			}

		.l-s2__detail-block {
			.clearfix;
			margin-bottom: 85px;

			.l__h3 {
				font-size: 19px;
				margin-left: 52px;
			}	

			i {
				float: left;
				margin-top: 8px;
			}
		}
			.l-s2__detail-desc {
				font-size: 15px;
				display: block;
				margin: -2px 0 0 52px;
			}

			.l-s2__detail-col1 {
				width: 60%;
				float: left;
				padding: 0 0 0 41px;
			}

			.l-s2__detail-col2 {
				width: 40%;
				float: left;
				padding: 0 0 0 13px;
			}






	.l-section3 {
		color: #5a6570;

		.l__h2 {
			text-transform: uppercase;
			font-size: 30px;
			color: @black;
			letter-spacing: .022em;
			margin-bottom: 17px;
		}

		.l__h3 {
			text-transform: uppercase;
			font-size: 16px;
			line-height: 25px;
			color: @black;
		}

		.l__p {
			font-size: 16px;
			line-height: 25px;
		}
	}

		.l-s3__tbl {
			border-spacing: 0;
		    border-collapse: collapse;
			td {
				border: 2px solid #ccc;
				padding:0; 
				margin:0;
				vertical-align: middle;
			}
		}

			.l-s3__cell1 {
				width: 318px;
				font-size: 0;
				padding: 41px 36px 50px;
				i {
					vertical-align: top;
					margin: 6px 20px 0 0;
					vertical-align: middle;
				}
			}

				.l-s3__digit {
					.font_bold;
					font-size: 66px;
					line-height: 1;
					color: #4162a3;
					margin-right: 4px;
					display: inline-block;
					vertical-align: middle;
				}

				.l-s3__digit-desc {
					font-size: 14px;
					color: #737373;
					display: inline-block;
					vertical-align: middle;
				}

					.l-s3__digit-desc-l {
						font-size: 26px;
						line-height: 1;
						color: #4162a3;
						display: block;
						margin: 0 0 0;
						.font_bold;
					}

			.l-s3__cell2 {
				padding: 5px 79px 0;
			}

		.l-s3__profs {
			margin-top: 52px;

			.l-row {
				margin-bottom: 120px;
			}

			.l-row_preingrid {
				margin-bottom:73px;
			}
				.l-col1 {
					width: 320px;
				}

				.l-col2 {
					width: 560px;
				}

			.l__h2 {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 19px;

				strong {
					.font_light;
				}
			}

			.l__p {
				color: #4c4c4c;
				font-size: 16px;
				line-height: 25px;
				width: 85%;

				i {
					.font_italic;
					font-size: 14px;
					display: block;
					margin-top: 25px;
				}
			}

			.l__product-card {
				margin-top: 60px;
			}
		}


		.l__product-card {
			position: relative;
			line-height: 1.4;

			.l__h2 {
				font-size: 19px;
				text-align: right;
				margin: 8px 37px;
				text-transform: none;
			}
		}

			.l__product-buy {
				background: #263e80;
				#gradient>.vertical(#263e80, #ba635d);
				padding: 13px 32px 30px;
			}

				.l__product-price {
					font-size: 34px;
					.font_bold;
					color: @white;
					text-align: right;
					margin-bottom: 21px;

					i {
						vertical-align: bottom;
						margin: 0 3px 7px 5px;
					}
				}

				.l__product-row {
					.clearfix;

					.btn {
						float: right;
					}
				}

					.l__product-misc {
						.font_bold;
						color: @white;
						font-size: 14px;
						line-height: 13px;
						margin-top: 5px;

						i {
							float: left;
							margin-right: 13px;
						}
					}

					

			.l__product-box {
				position: absolute;
				width: 161px;
				height: 185px;
				background: url(/images/bg/tf/pachka_sm.png);
				top: -45px;
				left: -25px;
			}

		.l-row_ingrid {
			.l__h2 {
				margin-bottom: 44px;
			}
			.l__h3 {
				margin-bottom: 5px;
			}

			.l__p {
				width: auto;
			}
		}

			.l-s3__ingrid {
				margin-bottom: 44px;
				.clearfix;
			}

				.l-s3__ingrid-col1 {
					float: left;
					clear: both;

					img {
						display: block;
						margin-top: 5px;
					}

					i {
						margin: 28px 0 0 21px;
					}

				}


					.l-s3__ingrid__img-fix {
						margin-left: -10px;
					}

				.l-s3__ingrid-col2 {
					margin-left: 82px;
				}




	.l-section4 {
		color: #4c4c4c;
		padding-bottom: 50px;
		margin-top: -240px;

		.l__h2 {
			font-size: 32px;
			line-height: 38px;
			.font_bold;
			text-transform: uppercase;
			color: @black;
			margin-left: -2px;

			strong {
				.font_light;
			}
		}

		.l__h3 {
			font-size: 19px;
			color: @black;
			margin-bottom: 6px;
		}

		.l__p {
			font-size: 16px;
			line-height: 23px;
			width: 77%;
		}

		.l-col1 {
			width: 320px;
		}

		.l-col2 {
			width: 560px;
		}
	}

		.l-s4__list {
			// background: #f2f4f6;
			#gradient>.vertical(#263e80, #ba635d);
			overflow: hidden;
			margin: 69px 0 92px;
		}

			.l-s4__list-img {
				float: left;
				width: 50%;
				margin-left: -80px;
				background: url(/images/bg/tf/s4.jpg) top right no-repeat;
				height: 366px;
			}

			.l-s4__list-txt {
				float: left;
				width: 50%;
				padding: 0 0 0 69px;
				margin: 4px 0;


					li {
						display: block;
						font-size: 20px;
						line-height: 26px;
						// letter-spacing: -0.025em;
						color: @white;
						margin: 32px 0;
						// height: 26px;
						// white-space: nowrap;
						span {
							display: block;
							margin-left: 40px;
						}
					}

						i {
							margin: 5px 20px 0 0;
							float: left;
						}
			}

		.l-s4__comment {
			margin: 11px 0 45px;
		}

			.l-s4__comment-col1 {
				float: left;
				margin-top: 4px;
			}

			.l-s4__comment-col2 {
				margin-left: 82px;
			}






	.l-section5 {
		#gradient>.vertical(#263e80, #ba635d);
		padding: 48px 0 18px;

		.l__h2 {
			.font_bold;
			font-size: 32px;
			line-height: 38px;
			text-transform: uppercase;
			margin-bottom: 6px;
		}
	}
		.l-s5-desc {
			font-size: 16px;
			line-height: 23px;
		}

		.l-s5__form {
			margin-top: 35px;

			.btn {
				padding-right: 74px;
				padding-left:  74px;

				&:active {
					padding-right: 74px;
					padding-left:  74px;						
				}
			}
		}

		.l-s5__detail-block {
			.clearfix;
			margin-bottom: 40px;

			.l__h3 {
				font-size: 19px;
				line-height: 1;
				margin-left: 44px;
			}	

			i {
				float: left;
				margin-top: 1px;
			}
		}
				.l-s5__detail-desc {
					font-size: 15px;
					line-height: 1.3;
					display: block;
					margin: 0 0 0 44px;
				}

			.l-s5__detail-col1 {
				float: left;
				margin-right: 62px;
			}

			.l-s5__detail-col2 {
				float: left;
				margin-right: 86px;
				.l__h3,
				.l-s5__detail-desc {
					margin-left: 56px
				}
			}

			.l-s5__detail-col3 {
				float: left;
				.l__h3,
				.l-s5__detail-desc {
					margin-left: 52px
				}
			}

			.l-s5__detail-col4 {
				float: right;
			}


	.l-section6 {
		background: #333333;
		padding-bottom: 52px;
	}

		.l-s6__warn {
			.font_thin;
			font-size: 14px;
			line-height: 20px;
			display: block;
			border-bottom: 1px solid #1580d1;
			padding: 25px 0 24px;
			text-align: center;
			text-transform: uppercase;

			margin: 0 48px 43px;
		}

		.l-s6__brand-row {
			margin-bottom: 62px;
			i {
				float: left;
				margin-top: 7px;
			}

			.l__p {
				.font_medium;
				margin-left: 160px;
				color: #ccc;
				font-size: 19px;
				line-height: 28px
			}
		}

		.l-s6__adv-row {
			text-align: justify;
			.l__h2 {
				font-size: 24px;
				line-height: 32px;
				color: #e5e5e5;
				margin-bottom: 38px;
				text-transform: none;
			}

			.l__p {
				font-size: 16px;
				color: #999;
			}

			&:after {
				display: inline-block;
				width: 100%;
				content: "";
			}
		}

			.l-s6__adv-col {
				vertical-align: top;
				width: 29%;
				display: inline-block;
				text-align: left;
			}



	.l-s7__social-row {
	}

		.l-s7__social-col {
			position: relative;
			float: left;
			margin-right: 40px;
			width: 300px;

			// ul {

			// }

				li {
					display: inline-block;
					vertical-align: top;
					margin-right: 4px;
				}
		}

		.l-s7__social-col_product {
			float: right;
			width: 320px;
			margin-left: -40px;
		}


	
	.l-section7 {
		padding: 78px 0 72px;
		color: @black;

		a {
			text-decoration: none;

			&:hover {
				text-decoration: none;			
			}
		}


		.l__h3 {
			font-size:   20px;
			line-height: 26px;
			.font_bold;
			color: @black;
			margin-bottom: 24px;

			i {
				position: absolute;
				top: 6px;
				left: -32px;
			}
		}

		.l__h3_a {
			border-bottom: 1px solid @black;
			display: inline-block;
			height: 25px;
			margin-bottom: 8px;
		}

		.l__p {
			font-size: 16px;
			line-height: 23px;
			color: #737373;
		}

		.l__product-card {
			margin-top: 0;

			.l__h2 {
				margin: 0 37px 16px;
			}

			.l__product-box {
				top: -50px;
			}
		}
	}




