.fader{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 33;
	overflow: auto;
	display: none;
}

.popup {
	width: 720px;
	height: 280px;
	position: fixed;
	z-index: 34;
	left: 50%;
	top: -500px;
	margin-left: -720px/2;
	margin-top: -280px/2;
	background: @white;
	.box-shadow(0 10px 30px rgba(0,0,0,.5));
	-webkit-transition: opacity .2s, -webkit-transform .3s;
	-moz-transition: opacity .2s, -moz-transform .3s;
	-ms-transition: opacity .2s, -ms-transform .3s;
	-o-transition: opacity .2s, -o-transform .3s;
	transition: opacity .2s, transform .3s;

	.translate(0, -100px);

	opacity: 0;
	text-align: center;
}


.popup-visible {
	overflow: hidden;
	.fader,
	.popup {
		display: block;
	}
	// .fader {
	// 	// opacity: .2;
	// }
	.popup {
		top: 50%;
		.translate(0, 0);
		opacity: 1;
	}

	#gnc-container {
		-webkit-filter: blur(5px);
				filter: blur(5px);
	}
}


	.popup__cont-in {
		position: relative;
		padding: 62px 52px 0;
	}

		.popup__close {
			position: absolute;
			top: 0;
			right: 0;
		}

		.popup__h2 {
			margin: 0;
			padding: 0;
			font-size: 32px;
			line-height: 40px;
			.font_bold;
			text-transform: uppercase;
			margin-bottom: 24px;
		}

		.popup__p {
			color: #5c6366;
			margin: 0;
			padding: 0;
			font-size: 18px;
			line-height: 25px;
			// margin-bottom: 35px;
		}


