.vkGradient {
  background-image: -moz-linear-gradient(top, #5b89b6, #39659b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b89b6), to(#39659b));
  background-image: -webkit-linear-gradient(top, #5b89b6, #39659b);
  background-image: -o-linear-gradient(top, #5b89b6, #39659b);
  background-image: linear-gradient(to bottom, #5b89b6, #39659b);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b89b6', endColorstr='#ff39659b', GradientType=0);
}
.fbGradient {
  background-image: -moz-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4e6ca6), to(#2e4886));
  background-image: -webkit-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: -o-linear-gradient(top, #4e6ca6, #2e4886);
  background-image: linear-gradient(to bottom, #4e6ca6, #2e4886);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4e6ca6', endColorstr='#ff2e4886', GradientType=0);
}
.twGradient {
  background-image: -moz-linear-gradient(top, #00b3d8, #0097c7);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#00b3d8), to(#0097c7));
  background-image: -webkit-linear-gradient(top, #00b3d8, #0097c7);
  background-image: -o-linear-gradient(top, #00b3d8, #0097c7);
  background-image: linear-gradient(to bottom, #00b3d8, #0097c7);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00b3d8', endColorstr='#ff0097c7', GradientType=0);
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.clearright {
  *zoom: 1;
}
.clearright:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearright:after {
  clear: both;
}
.pseudo {
  color: #158adb;
  border-bottom: 1px dotted #158adb;
  cursor: pointer;
}
.pseudo .hover,
.pseudo:hover {
  color: #158adb;
  border-color: #158adb;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none;
}
.hidden-input {
  position: absolute;
  left: -99999px;
}
.hidden-submit {
  font-size: 0;
  width: 0;
  height: 0;
  position: absolute;
  line-height: 0;
  visibility: hidden;
  left: -1000px;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.dimension-measurer {
  display: block !important;
  position: absolute;
  visibility: hidden;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:hover,
a:active {
  outline: 0;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
#map_canvas img {
  max-width: none;
}
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer;
}
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-appearance: textfield;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
dd {
  margin: 0 0 0 40px;
}
@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@font-face {
  font-family: 'clear_sans_lightregular';
  src: url('/styles/font/clearsans-light.eot');
  src: url('/styles/font/clearsans-light.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-light.woff') format('woff'), url('/styles/font/clearsans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_thinregular';
  src: url('/styles/font/clearsans-thin.eot');
  src: url('/styles/font/clearsans-thin.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-thin.woff') format('woff'), url('/styles/font/clearsans-thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sansregular';
  src: url('/styles/font/clearsans-regular.eot');
  src: url('/styles/font/clearsans-regular.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-regular.woff') format('woff'), url('/styles/font/clearsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sans_mediumregular';
  src: url('/styles/font/clearsans-medium.eot');
  src: url('/styles/font/clearsans-medium.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-medium.woff') format('woff'), url('/styles/font/clearsans-medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sansbold';
  src: url('/styles/font/clearsans-bold.eot');
  src: url('/styles/font/clearsans-bold.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-bold.woff') format('woff'), url('/styles/font/clearsans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'clear_sansitalic';
  src: url('/styles/font/clearsans-italic.eot');
  src: url('/styles/font/clearsans-italic.eot?#iefix') format('embedded-opentype'), url('/styles/font/clearsans-italic.woff') format('woff'), url('/styles/font/clearsans-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font_italic {
  font-family: 'clear_sansitalic';
  font-weight: normal;
  font-style: normal;
}
.font_light {
  font-family: 'clear_sans_lightregular';
  font-weight: normal;
  font-style: normal;
}
.font_thin {
  font-family: 'clear_sans_thinregular';
  font-weight: normal;
  font-style: normal;
}
.font_regular {
  font-family: 'clear_sansregular';
  font-weight: normal;
  font-style: normal;
}
.font_medium {
  font-family: 'clear_sans_mediumregular';
  font-weight: normal;
  font-style: normal;
}
.font_bold {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
}
HTML {
  height: 100%;
}
BODY {
  font-family: 'clear_sansregular', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #222a32;
  margin: 0;
  padding: 0;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  color: #158adb;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #158adb;
  text-decoration: underline;
}
.row {
  margin-left: -40px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
  line-height: 0;
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 40px;
}
.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 960px;
}
.span12 {
  width: 960px;
}
.span11 {
  width: 880px;
}
.span10 {
  width: 800px;
}
.span9 {
  width: 720px;
}
.span8 {
  width: 640px;
}
.span7 {
  width: 560px;
}
.span6 {
  width: 480px;
}
.span5 {
  width: 400px;
}
.span4 {
  width: 320px;
}
.span3 {
  width: 240px;
}
.span2 {
  width: 160px;
}
.span1 {
  width: 80px;
}
.offset12 {
  margin-left: 1000px;
}
.offset11 {
  margin-left: 920px;
}
.offset10 {
  margin-left: 840px;
}
.offset9 {
  margin-left: 760px;
}
.offset8 {
  margin-left: 680px;
}
.offset7 {
  margin-left: 600px;
}
.offset6 {
  margin-left: 520px;
}
.offset5 {
  margin-left: 440px;
}
.offset4 {
  margin-left: 360px;
}
.offset3 {
  margin-left: 280px;
}
.offset2 {
  margin-left: 200px;
}
.offset1 {
  margin-left: 120px;
}
[class*="span"].hide {
  display: none;
}
[class*="span"].pull-right {
  float: right;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
  line-height: 0;
}
.container:after {
  clear: both;
}
#wrapper {
  margin: 0 auto;
  width: 1040px;
  background: #8c8c8c;
  padding: 0;
  min-height: 100%;
  height: auto !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
#gnc-container {
  min-height: 640px;
  height: 100%;
}
a {
  color: #158adb;
}
a:hover {
  color: #158adb;
}
.icon {
  position: relative;
  display: inline-block;
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
h1 {
  margin-top: 0;
}
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0.95;
  filter: alpha(opacity=95);
  z-index: 1060;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
#fader.in {
  opacity: 0;
  filter: alpha(opacity=0);
}
.input_error {
  color: #C81414 !important;
}
.input_error:-moz-placeholder {
  color: #c81414;
}
.input_error::-moz-placeholder {
  color: #c81414;
}
.input_error:-ms-input-placeholder {
  color: #c81414;
}
.input_error::-webkit-input-placeholder {
  color: #c81414;
}
.hsh {
  color: #158adb;
  text-decoration: none;
}
.hsh:hover {
  color: #158adb;
  text-decoration: underline;
}
.lnk,
.unm {
  text-decoration: none;
}
.lnk:hover,
.unm:hover {
  text-decoration: underline;
}
.lazy {
  -webkit-transition: opacity 0.8s;
  -moz-transition: opacity 0.8s;
  -o-transition: opacity 0.8s;
  transition: opacity 0.8s;
  opacity: 0;
  width: 100%;
}
.img-loaded .lazy {
  opacity: 1;
}
.load-bg {
  background: #f8f8fa url(/images/ani/spinner.gif) center center no-repeat;
}
.img-loaded.load-bg {
  background-image: none;
}
.cover-bg {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.input_clear {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
label {
  display: block;
  margin-bottom: 0;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #969696;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #969696;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #969696;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #969696;
}
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}
.btn {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: #ffffff;
  text-decoration: none;
  font-family: 'clear_sansbold';
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff3d4d;
  border-color: #881321;
  border-style: solid;
  border-width: 0 0 2px 0;
  padding: 18px 49px 14px 49px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  letter-spacing: 0.020em;
  cursor: pointer;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  -o-transition: background 0.2s;
  transition: background 0.2s;
}
.btn:active,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}
.btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #d62735;
  border-color: #881321;
}
.btn:active {
  border-width: 2px 0 0 0;
  padding: 16px 49px 16px 49px;
}
.btn_sm {
  font-size: 15px;
  line-height: 19px;
  padding: 9px 24px 8px 24px;
}
.btn_sm:active {
  padding: 7px 24px 10px 24px;
}
.btn_md {
  font-size: 15px;
  line-height: 19px;
  padding: 12px 30px 11px;
}
.btn_md:active {
  padding: 10px 30px 13px;
}
.btn_dark {
  background-color: #d9273c;
  border-color: #881321;
}
.btn_dark:hover {
  background-color: #b82032;
  border-color: #881321;
}
.btn_blue {
  background-color: #2762d9;
  border-color: #173a80;
}
.btn_blue:hover {
  background-color: #1a459c;
  border-color: #173a80;
}
.ib6 {
  background: url("/images/sprites/ib6-09c5f.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .ib6 {
    background: url("/images/sprites/ib6-2x-09c5f.png") no-repeat 0 0;
    -webkit-background-size: 125px 777px;
    -moz-background-size: 125px 777px;
    -o-background-size: 125px 777px;
    background-size: 125px 777px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.ib6-arr-dwn {
  width: 19px;
  height: 107px;
  background-position: 0px 0px;
}
.ib6-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -108px;
}
.ib6-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -127px;
}
.ib6-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -158px;
}
.ib6-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -186px;
}
.ib6-clin-tst {
  width: 102px;
  height: 32px;
  background-position: 0px -225px;
}
.ib6-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -258px;
}
.ib6-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -294px;
}
.ib6-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -333px;
}
.ib6-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -369px;
}
.ib6-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -408px;
}
.ib6-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -444px;
}
.ib6-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -472px;
}
.ib6-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -493px;
}
.ib6-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -529px;
}
.ib6-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -568px;
}
.ib6-r {
  width: 19px;
  height: 25px;
  background-position: 0px -618px;
}
.ib6-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -644px;
}
.ib6-time {
  width: 53px;
  height: 50px;
  background-position: 0px -666px;
}
.ib6-x {
  width: 60px;
  height: 60px;
  background-position: 0px -717px;
}
.itf {
  background: url("/images/sprites/itf-c47dd.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .itf {
    background: url("/images/sprites/itf-2x-c47dd.png") no-repeat 0 0;
    -webkit-background-size: 125px 787px;
    -moz-background-size: 125px 787px;
    -o-background-size: 125px 787px;
    background-size: 125px 787px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.itf-arr-dwn {
  width: 19px;
  height: 107px;
  background-position: 0px 0px;
}
.itf-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -108px;
}
.itf-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -127px;
}
.itf-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -158px;
}
.itf-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -186px;
}
.itf-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -225px;
}
.itf-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -261px;
}
.itf-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -300px;
}
.itf-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -336px;
}
.itf-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -375px;
}
.itf-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -411px;
}
.itf-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -439px;
}
.itf-natur {
  width: 101px;
  height: 42px;
  background-position: 0px -460px;
}
.itf-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -503px;
}
.itf-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -539px;
}
.itf-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -578px;
}
.itf-r {
  width: 19px;
  height: 25px;
  background-position: 0px -628px;
}
.itf-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -654px;
}
.itf-time {
  width: 53px;
  height: 50px;
  background-position: 0px -676px;
}
.itf-x {
  width: 60px;
  height: 60px;
  background-position: 0px -727px;
}
.igu {
  background: url("/images/sprites/igu-66904.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .igu {
    background: url("/images/sprites/igu-2x-66904.png") no-repeat 0 0;
    -webkit-background-size: 125px 723px;
    -moz-background-size: 125px 723px;
    -o-background-size: 125px 723px;
    background-size: 125px 723px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.igu-arr-dwn {
  width: 13px;
  height: 20px;
  background-position: 0px 0px;
}
.igu-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -21px;
}
.igu-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -40px;
}
.igu-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -71px;
}
.igu-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -99px;
}
.igu-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -138px;
}
.igu-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -174px;
}
.igu-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -213px;
}
.igu-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -249px;
}
.igu-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -288px;
}
.igu-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -324px;
}
.igu-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -352px;
}
.igu-mark_bl {
  width: 22px;
  height: 22px;
  background-position: 0px -373px;
}
.igu-natur {
  width: 101px;
  height: 42px;
  background-position: 0px -396px;
}
.igu-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -439px;
}
.igu-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -475px;
}
.igu-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -514px;
}
.igu-r {
  width: 19px;
  height: 25px;
  background-position: 0px -564px;
}
.igu-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -590px;
}
.igu-time {
  width: 53px;
  height: 50px;
  background-position: 0px -612px;
}
.igu-x {
  width: 60px;
  height: 60px;
  background-position: 0px -663px;
}
.ilc {
  background: url("/images/sprites/ilc-a1456.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .ilc {
    background: url("/images/sprites/ilc-2x-a1456.png") no-repeat 0 0;
    -webkit-background-size: 125px 723px;
    -moz-background-size: 125px 723px;
    -o-background-size: 125px 723px;
    background-size: 125px 723px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.ilc-arr-dwn {
  width: 13px;
  height: 20px;
  background-position: 0px 0px;
}
.ilc-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -21px;
}
.ilc-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -40px;
}
.ilc-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -71px;
}
.ilc-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -99px;
}
.ilc-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -138px;
}
.ilc-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -174px;
}
.ilc-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -213px;
}
.ilc-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -249px;
}
.ilc-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -288px;
}
.ilc-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -324px;
}
.ilc-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -352px;
}
.ilc-mark_bl {
  width: 22px;
  height: 22px;
  background-position: 0px -373px;
}
.ilc-natur {
  width: 101px;
  height: 42px;
  background-position: 0px -396px;
}
.ilc-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -439px;
}
.ilc-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -475px;
}
.ilc-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -514px;
}
.ilc-r {
  width: 19px;
  height: 25px;
  background-position: 0px -564px;
}
.ilc-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -590px;
}
.ilc-time {
  width: 53px;
  height: 50px;
  background-position: 0px -612px;
}
.ilc-x {
  width: 60px;
  height: 60px;
  background-position: 0px -663px;
}
.imm {
  background: url("/images/sprites/imm-dfc32.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .imm {
    background: url("/images/sprites/imm-2x-dfc32.png") no-repeat 0 0;
    -webkit-background-size: 182px 766px;
    -moz-background-size: 182px 766px;
    -o-background-size: 182px 766px;
    background-size: 182px 766px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.imm-arr-dwn {
  width: 13px;
  height: 20px;
  background-position: 0px 0px;
}
.imm-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -21px;
}
.imm-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -40px;
}
.imm-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -71px;
}
.imm-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -99px;
}
.imm-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -138px;
}
.imm-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -174px;
}
.imm-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -213px;
}
.imm-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -249px;
}
.imm-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -288px;
}
.imm-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -324px;
}
.imm-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -352px;
}
.imm-natur {
  width: 101px;
  height: 42px;
  background-position: 0px -373px;
}
.imm-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -416px;
}
.imm-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -452px;
}
.imm-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -491px;
}
.imm-r {
  width: 19px;
  height: 25px;
  background-position: 0px -541px;
}
.imm-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -567px;
}
.imm-time {
  width: 53px;
  height: 50px;
  background-position: 0px -589px;
}
.imm-timed {
  width: 182px;
  height: 65px;
  background-position: 0px -640px;
}
.imm-x {
  width: 60px;
  height: 60px;
  background-position: 0px -706px;
}
.ipo {
  background: url("/images/sprites/ipo-e5b5f.png") no-repeat 0 0;
  vertical-align: text-top;
  display: inline-block;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  .ipo {
    background: url("/images/sprites/ipo-2x-e5b5f.png") no-repeat 0 0;
    -webkit-background-size: 125px 723px;
    -moz-background-size: 125px 723px;
    -o-background-size: 125px 723px;
    background-size: 125px 723px;
    vertical-align: text-top;
    display: inline-block;
  }
}
.ipo-arr-dwn {
  width: 13px;
  height: 20px;
  background-position: 0px 0px;
}
.ipo-arr {
  width: 18px;
  height: 18px;
  background-position: 0px -21px;
}
.ipo-bibi {
  width: 35px;
  height: 30px;
  background-position: 0px -40px;
}
.ipo-bibi_sm {
  width: 27px;
  height: 27px;
  background-position: 0px -71px;
}
.ipo-bibi_sm2 {
  width: 37px;
  height: 38px;
  background-position: 0px -99px;
}
.ipo-fb {
  width: 125px;
  height: 35px;
  background-position: 0px -138px;
}
.ipo-gnc_w {
  width: 102px;
  height: 38px;
  background-position: 0px -174px;
}
.ipo-ins {
  width: 125px;
  height: 35px;
  background-position: 0px -213px;
}
.ipo-lock {
  width: 24px;
  height: 38px;
  background-position: 0px -249px;
}
.ipo-logo {
  width: 120px;
  height: 35px;
  background-position: 0px -288px;
}
.ipo-logo_sm {
  width: 90px;
  height: 27px;
  background-position: 0px -324px;
}
.ipo-mark {
  width: 20px;
  height: 20px;
  background-position: 0px -352px;
}
.ipo-mark_bl {
  width: 22px;
  height: 22px;
  background-position: 0px -373px;
}
.ipo-natur {
  width: 101px;
  height: 42px;
  background-position: 0px -396px;
}
.ipo-paper {
  width: 35px;
  height: 35px;
  background-position: 0px -439px;
}
.ipo-paper_sm {
  width: 33px;
  height: 38px;
  background-position: 0px -475px;
}
.ipo-pill {
  width: 53px;
  height: 49px;
  background-position: 0px -514px;
}
.ipo-r {
  width: 19px;
  height: 25px;
  background-position: 0px -564px;
}
.ipo-r_sm {
  width: 17px;
  height: 21px;
  background-position: 0px -590px;
}
.ipo-time {
  width: 53px;
  height: 50px;
  background-position: 0px -612px;
}
.ipo-x {
  width: 60px;
  height: 60px;
  background-position: 0px -663px;
}
.body__page-landing {
  background-color: #f2f4f6;
}
.body__page-landing label {
  float: left;
  width: 31.97%;
  margin-left: 2.04%;
  position: relative;
}
.body__page-landing label:first-child {
  margin-left: 0;
}
.body__page-landing label.error input {
  border: 2px solid #e31837;
}
.body__page-landing label.error .error-fld {
  display: block;
}
.body__page-landing .error-fld {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 14px;
  height: 100%;
  color: #e31837;
}
.body__page-landing input {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #ffffff;
  font-size: 16px;
  line-height: 23px;
  font-family: 'clear_sansregular';
  font-weight: normal;
  font-style: normal;
  padding: 1px 14px 4px;
  border: 2px solid #ffffff;
  color: #000000;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.body__page-landing input:-moz-placeholder {
  color: #aaaaaa;
}
.body__page-landing input::-moz-placeholder {
  color: #aaaaaa;
}
.body__page-landing input:-ms-input-placeholder {
  color: #aaaaaa;
}
.body__page-landing input::-webkit-input-placeholder {
  color: #aaaaaa;
}
.body__page-landing input:focus {
  border-color: #174d76;
}
.body__page-landing #gnc-container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  min-width: 960px;
}
.body__page-landing * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l-section {
  display: block;
  position: relative;
  overflow: hidden;
  text-align: left;
  color: #ffffff;
  font-family: 'clear_sansregular';
  font-weight: normal;
  font-style: normal;
  min-width: 960px;
}
.l__container {
  height: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  width: 960px;
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.l__container:before,
.l__container:after {
  display: table;
  content: "";
  line-height: 0;
}
.l__container:after {
  clear: both;
}
.l__h1,
.l__h2,
.l__h3,
.l__p {
  padding: 0;
  margin: 0;
}
.l__header {
  background: transparent;
  overflow: hidden;
  min-width: 960px;
  padding: 13px 0;
  position: fixed;
  left: 0;
  right: 0;
  top: -72px;
  z-index: 33;
  -webkit-box-shadow: 0 1px rgba(51, 51, 51, 0.3);
  -moz-box-shadow: 0 1px rgba(51, 51, 51, 0.3);
  box-shadow: 0 1px rgba(51, 51, 51, 0.3);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.l__header .l__h3 {
  font-size: 17px;
  line-height: 1.4;
  margin-bottom: 2px;
}
.l__header .l__p {
  font-size: 13px;
  color: #737373;
}
.l__logo-a {
  display: inline-block;
  margin-top: 10px;
}
.l__header-row {
  float: right;
  font-size: 0;
}
.l__header-col {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}
.scrolled .l__header {
  background: #ffffff;
  position: fixed;
  top: 0;
}
.l-row {
  *zoom: 1;
}
.l-row:before,
.l-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.l-row:after {
  clear: both;
}
.l-col1 {
  width: 400px;
  float: left;
}
.l-col2 {
  width: 520px;
  float: right;
}
.l-section1 {
  background: url(/images/bg/mm/s1.png) no-repeat center center;
  height: 530px;
}
.l-section1 .l__container {
  margin-top: -70px;
}
.l-section1 .l__h1 {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 45px;
  line-height: 50px;
  letter-spacing: 0.02em;
  margin: 63px 0 28px;
  text-transform: uppercase;
}
.l-section1 .l__h1 span {
  font-size: 16px;
  display: inline-block;
  vertical-align: top;
  margin: -16px 0 0 5px;
}
.l-section1 .l__h2 {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: 0.02em;
  margin: 0 -20px 8px 0;
  text-transform: uppercase;
}
.l-section1 .l__h2 span {
  font-family: 'clear_sans_lightregular';
  font-weight: normal;
  font-style: normal;
}
.l-section1 .l-col1 {
  width: 520px;
}
.l-section1 .l-col2 {
  background: url(/images/bg/mm/boy.png) left bottom no-repeat;
  height: 530px;
  width: 482px;
  margin-left: -120px;
}
.l-s1__header-bg {
  background: rgba(40, 7, 9, 0.3);
  height: 70px;
}
.l-s1__header-desc {
  font-size: 20px;
  margin: 17px 0 25px 0;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  display: block;
  margin-right: -82px;
}
.l-s1__desc {
  font-size: 16px;
}
.l-s1__logo {
  float: right;
  margin: 17px 0 32px;
}
.l-s1__sign {
  float: right;
  clear: both;
}
.l-section2 {
  overflow: visible;
  color: #676d73;
}
.l-section2 .l-col1 {
  position: relative;
}
.l-s2__box {
  position: absolute;
  top: -194px;
  left: -214px;
  width: 577px;
  height: 573px;
  background: url(/images/bg/mm/pachka.png);
}
.l-s2__price-block {
  background: url(/images/bg/mm/s2-price.png);
  height: 110px;
  margin: 80px 0 40px;
}
.l-s2__price-col1 {
  width: 50%;
  float: left;
  padding: 17px 40px;
}
.l-s2__price {
  color: #000000;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 46px;
  line-height: 1;
  display: block;
  margin-left: -4px;
}
.l-s2__price i {
  vertical-align: bottom;
  margin: 0 0 3px 7px;
}
.l-s2__price-desc {
  font-size: 15px;
}
.l-s2__price-col2 {
  width: 50%;
  float: left;
  padding: 27px 0 0 50px;
}
.l-s2__detail-block {
  *zoom: 1;
  margin-bottom: 85px;
}
.l-s2__detail-block:before,
.l-s2__detail-block:after {
  display: table;
  content: "";
  line-height: 0;
}
.l-s2__detail-block:after {
  clear: both;
}
.l-s2__detail-block .l__h3 {
  font-size: 19px;
  margin-left: 52px;
}
.l-s2__detail-block i {
  float: left;
  margin-top: 8px;
}
.l-s2__detail-desc {
  font-size: 15px;
  display: block;
  margin: -2px 0 0 52px;
}
.l-s2__detail-col1 {
  width: 60%;
  float: left;
  padding: 0 0 0 41px;
}
.l-s2__detail-col2 {
  width: 40%;
  float: left;
  padding: 0 0 0 13px;
}
.l-section3 {
  color: #5a6570;
}
.l-section3 .l__h2 {
  text-transform: uppercase;
  font-size: 30px;
  color: #000000;
  letter-spacing: .022em;
  margin-bottom: 17px;
}
.l-section3 .l__h3 {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 25px;
  color: #000000;
}
.l-section3 .l__p {
  font-size: 16px;
  line-height: 25px;
}
.l-s3__tbl {
  border-spacing: 0;
  border-collapse: collapse;
}
.l-s3__tbl td {
  border: 2px solid #ccc;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}
.l-s3__cell1 {
  width: 318px;
  font-size: 0;
  padding: 61px 36px 70px;
}
.l-s3__cell1 i {
  vertical-align: top;
  margin: 6px 20px 0 0;
  vertical-align: middle;
}
.l-s3__digit {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 66px;
  line-height: 1;
  color: #bf9c73;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.l-s3__digit-desc {
  font-size: 14px;
  color: #737373;
  display: inline-block;
  vertical-align: middle;
}
.l-s3__digit-desc-l {
  font-size: 26px;
  line-height: 1;
  color: #bf9c73;
  display: block;
  margin: 0 0 0;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
}
.l-s3__cell2 {
  padding: 0 26px 0 79px;
}
.l-s3__profs {
  margin-top: 49px;
}
.l-s3__profs .l-row {
  margin-bottom: 120px;
}
.l-s3__profs .l-row_ingrid {
  margin-bottom: 29px;
}
.l-s3__profs .l-row_preingrid {
  margin-bottom: 73px;
}
.l-s3__profs .l-col1 {
  width: 320px;
}
.l-s3__profs .l-col2 {
  width: 560px;
}
.l-s3__profs .l__h2 {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 19px;
  letter-spacing: 0;
  margin-top: 33px;
}
.l-s3__profs .l__h2:first-child {
  margin-top: 0;
}
.l-s3__profs .l__h2 strong {
  font-family: 'clear_sans_lightregular';
  font-weight: normal;
  font-style: normal;
}
.l-s3__profs .l__p {
  color: #4c4c4c;
  font-size: 16px;
  line-height: 25px;
  width: 85%;
}
.l-s3__profs .l__p strong {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
}
.l-s3__profs .l__p i {
  font-family: 'clear_sansitalic';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  display: block;
  margin-top: 25px;
}
.l-s3__profs .l__product-card {
  margin-top: 57px;
}
.l-s3__profs .l__product-daily {
  margin-top: 534px;
}
.l__product-card {
  position: relative;
  line-height: 1.4;
}
.l__product-card .l__h2 {
  font-size: 19px;
  text-align: right;
  margin: 8px 0;
  text-transform: none;
}
.l__product-buy {
  background: #263e80;
  background-image: -moz-linear-gradient(top, #53090a, #a23737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53090a), to(#a23737));
  background-image: -webkit-linear-gradient(top, #53090a, #a23737);
  background-image: -o-linear-gradient(top, #53090a, #a23737);
  background-image: linear-gradient(to bottom, #53090a, #a23737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53090a', endColorstr='#ffa23737', GradientType=0);
  padding: 13px 32px 30px;
}
.l__product-price {
  font-size: 34px;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  text-align: right;
  margin-bottom: 21px;
}
.l__product-price i {
  vertical-align: bottom;
  margin: 0 3px 7px 5px;
}
.l__product-row {
  *zoom: 1;
}
.l__product-row:before,
.l__product-row:after {
  display: table;
  content: "";
  line-height: 0;
}
.l__product-row:after {
  clear: both;
}
.l__product-row .btn {
  float: right;
}
.l__product-misc {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  color: #ffffff;
  font-size: 14px;
  line-height: 13px;
  margin-top: 5px;
}
.l__product-misc i {
  float: left;
  margin-right: 13px;
}
.l__product-box {
  position: absolute;
  width: 117px;
  height: 142px;
  background: url(/images/bg/mm/pachka_sm.png);
  top: -16px;
  left: 0;
}
.l__product-daily {
  font-size: 0;
  color: #bf9c73;
  padding: 0 37px;
}
.l__product-daily i {
  vertical-align: top;
  margin: 6px 6px 0 0;
  vertical-align: middle;
}
.l__product-daily__digit {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 66px;
  line-height: 1;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.l__product-daily__digit-desc {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
}
.l__product-daily__digit-desc-l {
  font-size: 26px;
  line-height: 1;
  display: block;
  margin: -1px 0 2px;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
}
.l__product-daily-misc {
  display: block;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  margin: 11px 4px;
  text-transform: uppercase;
}
.l-row_ingrid .l__h2 {
  margin-bottom: 44px;
}
.l-row_ingrid .l__h3 {
  margin-bottom: 5px;
}
.l-row_ingrid .l__p {
  width: auto;
}
.l-row_afteringrid i {
  margin: 27px 0 0 35px;
}
.l-s3__ingrid {
  margin-bottom: 45px;
}
.l-s3__ingrid-col1 {
  float: left;
  clear: both;
}
.l-s3__ingrid-col1 img {
  display: block;
  margin: 6px 0 0 -3px;
}
.l-s3__ingrid-col1 i {
  margin: 11px 0 0 24px;
}
.l-s3__ingrid-col2 {
  margin-left: 82px;
}
.l-s3__ingrid2 i {
  margin-top: 6px;
}
.l-s3__ingrid3 i {
  margin-top: 8px;
}
.l-s3__ingrid4 i {
  margin-top: 20px;
}
.l-s3__ingrid6 i {
  margin-top: 18px;
}
.l-s3__ingrid7 i {
  margin-top: 6px;
}
.l-section4 {
  color: #4c4c4c;
  padding-bottom: 50px;
  margin-top: -196px;
}
.l-section4 .l__h2 {
  font-size: 32px;
  line-height: 38px;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  color: #000000;
  margin-left: -2px;
}
.l-section4 .l__h2 strong {
  font-family: 'clear_sans_lightregular';
  font-weight: normal;
  font-style: normal;
}
.l-section4 .l__h3 {
  font-size: 19px;
  color: #000000;
  margin-bottom: 6px;
}
.l-section4 .l__p {
  font-size: 16px;
  line-height: 23px;
  width: 88%;
}
.l-section4 .l-col1 {
  width: 320px;
}
.l-section4 .l-col2 {
  width: 560px;
}
.l-s4__list {
  background-image: -moz-linear-gradient(top, #53090a, #a23737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53090a), to(#a23737));
  background-image: -webkit-linear-gradient(top, #53090a, #a23737);
  background-image: -o-linear-gradient(top, #53090a, #a23737);
  background-image: linear-gradient(to bottom, #53090a, #a23737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53090a', endColorstr='#ffa23737', GradientType=0);
  overflow: hidden;
  margin: 69px 0 72px;
}
.l-s4__list-img {
  float: left;
  width: 50%;
  margin-left: -80px;
  background: url(/images/bg/mm/s4.jpg) top right no-repeat;
  height: 416px;
}
.l-s4__list-txt {
  float: left;
  width: 50%;
  padding: 0 0 0 69px;
  margin: 19px 0;
}
.l-s4__list-txt li {
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  margin: 32px 0;
}
.l-s4__list-txt li span {
  display: block;
  margin-left: 40px;
}
.l-s4__list-txt i {
  margin: 5px 20px 0 0;
  float: left;
}
.l-s4__comment {
  margin: 11px 0 45px;
}
.l-s4__comment-col1 {
  float: left;
  margin-top: 4px;
}
.l-s4__comment-col2 {
  margin-left: 82px;
}
.l-section5 {
  background-image: -moz-linear-gradient(top, #53090a, #a23737);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#53090a), to(#a23737));
  background-image: -webkit-linear-gradient(top, #53090a, #a23737);
  background-image: -o-linear-gradient(top, #53090a, #a23737);
  background-image: linear-gradient(to bottom, #53090a, #a23737);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff53090a', endColorstr='#ffa23737', GradientType=0);
  padding: 48px 0 18px;
}
.l-section5 .l__h2 {
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.l-s5-desc {
  font-size: 16px;
  line-height: 23px;
}
.l-s5__form {
  margin-top: 35px;
}
.l-s5__form .btn {
  padding-right: 74px;
  padding-left: 74px;
}
.l-s5__form .btn:active {
  padding-right: 74px;
  padding-left: 74px;
}
.l-s5__detail-block {
  *zoom: 1;
  margin-bottom: 40px;
}
.l-s5__detail-block:before,
.l-s5__detail-block:after {
  display: table;
  content: "";
  line-height: 0;
}
.l-s5__detail-block:after {
  clear: both;
}
.l-s5__detail-block .l__h3 {
  font-size: 19px;
  line-height: 1;
  margin-left: 44px;
}
.l-s5__detail-block i {
  float: left;
  margin-top: 1px;
}
.l-s5__detail-desc {
  font-size: 15px;
  line-height: 1.3;
  display: block;
  margin: 0 0 0 44px;
}
.l-s5__detail-col1 {
  float: left;
  margin-right: 62px;
}
.l-s5__detail-col2 {
  float: left;
  margin-right: 86px;
}
.l-s5__detail-col2 .l__h3,
.l-s5__detail-col2 .l-s5__detail-desc {
  margin-left: 56px;
}
.l-s5__detail-col3 {
  float: left;
}
.l-s5__detail-col3 .l__h3,
.l-s5__detail-col3 .l-s5__detail-desc {
  margin-left: 52px;
}
.l-s5__detail-col4 {
  float: right;
}
.l-section6 {
  background: #333333;
  padding-bottom: 52px;
}
.l-s6__warn {
  font-family: 'clear_sans_thinregular';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  display: block;
  border-bottom: 1px solid #a23737;
  padding: 25px 0 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 48px 43px;
}
.l-s6__brand-row {
  margin-bottom: 62px;
}
.l-s6__brand-row i {
  float: left;
  margin-top: 7px;
}
.l-s6__brand-row .l__p {
  font-family: 'clear_sans_mediumregular';
  font-weight: normal;
  font-style: normal;
  margin-left: 160px;
  color: #ccc;
  font-size: 19px;
  line-height: 28px;
}
.l-s6__adv-row {
  text-align: justify;
}
.l-s6__adv-row .l__h2 {
  font-size: 24px;
  line-height: 32px;
  color: #e5e5e5;
  margin-bottom: 38px;
  text-transform: none;
}
.l-s6__adv-row .l__p {
  font-size: 16px;
  color: #999;
}
.l-s6__adv-row:after {
  display: inline-block;
  width: 100%;
  content: "";
}
.l-s6__adv-col {
  vertical-align: top;
  width: 29%;
  display: inline-block;
  text-align: left;
}
.l-s7__social-col {
  position: relative;
  float: left;
  margin-right: 40px;
  width: 300px;
}
.l-s7__social-col li {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}
.l-s7__social-col_product {
  float: right;
  width: 320px;
  margin-left: -40px;
}
.l-section7 {
  padding: 78px 0 72px;
  color: #000000;
}
.l-section7 a {
  text-decoration: none;
}
.l-section7 a:hover {
  text-decoration: none;
}
.l-section7 .l__h3 {
  font-size: 20px;
  line-height: 26px;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  color: #000000;
  margin-bottom: 24px;
}
.l-section7 .l__h3 i {
  position: absolute;
  top: 6px;
  left: -32px;
}
.l-section7 .l__h3_a {
  border-bottom: 1px solid #000000;
  display: inline-block;
  height: 25px;
  margin-bottom: 8px;
}
.l-section7 .l__p {
  font-size: 16px;
  line-height: 23px;
  color: #737373;
}
.l__footer {
  min-width: 960px;
  font-size: 14px;
  line-height: 22px;
  color: #666;
  border-top: 1px solid #e0e0e0;
}
.l__footer .l__container {
  padding: 54px 310px 52px 0;
}
.l__footer .l__h2 {
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
}
.l__footer strong {
  color: #000000;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
}
.fader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 33;
  overflow: auto;
  display: none;
}
.popup {
  width: 720px;
  height: 280px;
  position: fixed;
  z-index: 34;
  left: 50%;
  top: -500px;
  margin-left: -360px;
  margin-top: -140px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  -moz-transition: opacity 0.2s, -moz-transform 0.3s;
  -ms-transition: opacity 0.2s, -ms-transform 0.3s;
  -o-transition: opacity 0.2s, -o-transform 0.3s;
  transition: opacity .2s, transform .3s;
  -webkit-transform: translate(0, -100px);
  -moz-transform: translate(0, -100px);
  -ms-transform: translate(0, -100px);
  -o-transform: translate(0, -100px);
  transform: translate(0, -100px);
  opacity: 0;
  text-align: center;
}
.popup-visible {
  overflow: hidden;
}
.popup-visible .fader,
.popup-visible .popup {
  display: block;
}
.popup-visible .popup {
  top: 50%;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}
.popup-visible #gnc-container {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
.popup__cont-in {
  position: relative;
  padding: 62px 52px 0;
}
.popup__close {
  position: absolute;
  top: 0;
  right: 0;
}
.popup__h2 {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 40px;
  font-family: 'clear_sansbold';
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}
.popup__p {
  color: #5c6366;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 25px;
}
